.collapse-td {
    max-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.my-navbar {
    padding: 10px;
    background-color: #585858;
    opacity:0.95;
}

.texto-rodape{
    color: white;
}

.form-td {
    display: inline;
}

.hide-div {
    display: none;
}

.login {
    position: center;
}

.login-container {
    height: 200px;
    position: relative;
}

.center-title {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center-subtitle {
    margin: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center-username {
    margin: 0;
    position: absolute;
    top: 140%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center-password {
    margin: 0;
    position: absolute;
    top: 190%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center-button {
    margin: 0;
    position: absolute;
    top: 240%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 200px;
}