.ellipsis {
    max-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.my-navbar {
    padding: 10px;
    background-color: #585858;
    opacity:0.95;
}

.texto-rodape{
    color: white;
}

.form-td {
    display: inline;
}